#wrapper1 {
  width: 500px;
  margin: 0 auto;
}

#wrapper2 {
  width: 500px;
  margin: 0 auto;
}

p {
  color: pink;
}

<!--
I had a ton of anxiety so I did the bare minimum and I started late and took longer than normal whoopsie daisy
-->